### **Project 1** - San Diego Gas Prices
#### Vanessa Dumlao, Shruti Palur Mallampalli, Noelle Watson

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from config import numbeo_api

#### *Chart/Graph Assigments to Complete by Thursday, 10/5 Class*
1. Gas station brand per zip - (Noelle)
2. Prove no correlation between gas type (reg, mid, super) - (Shruti)
3. Density vs reg avg - (Noelle)
4. gas price per zip vs reg avg - (Shruti)
5. population per zip vs reg avg - (Vanessa)
6. household income per zip vs reg avg - (Vanessa)

In [2]:
# Pull in gas prices csv
gas_prices_data = pd.read_csv("Resources/gas-prices-10-04.csv")
gas_prices_data.head()

,title,address,gasPrices/0/currency,gasPrices/0/gasType,gasPrices/0/price,gasPrices/0/priceTag,gasPrices/0/unit,gasPrices/0/updatedAt,gasPrices/1/currency,gasPrices/1/gasType,...,gasPrices/3/updatedAt,website,phone,totalScore,rank,reviewsCount,isAdvertisement,categoryName,searchString,url
0,Shell,"1011 A St, San Diego, CA 92101",USD,Regular,7.0,$7.00,gallon,2023-10-03T09:20:18.000Z,USD,Midgrade,...,NaN,https://find.shell.com/us/fuel/10008234-1011-a-st,(619) 232-2906,3.3,4,124,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Shell/@32.71...
1,Shell,"2777 Health Center Dr, San Diego, CA 92123",USD,Regular,7.0,$7.00,gallon,2023-10-02T15:59:32.000Z,USD,Midgrade,...,2023-10-03T04:43:15.000Z,https://find.shell.com/us/fuel/12476277-2777-h...,(859) 279-3673,3.5,3,40,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Shell/@32.79...
2,Texas Street Valero,"4616 Texas St, San Diego, CA 92116",USD,Regular,6.4,$6.40,gallon,2023-10-03T05:53:19.000Z,USD,Midgrade,...,2023-10-03T05:53:19.000Z,NaN,(619) 296-4913,4.1,37,235,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Texas+Street...
3,Chevron,"7070 Clairemont Mesa Blvd, San Diego, CA 92117",USD,Regular,6.3,$6.30,gallon,2023-10-03T09:15:59.000Z,USD,Midgrade,...,2023-10-03T09:15:59.000Z,http://www.chevronwithtechron.com/stations/sta...,(858) 922-4894,3.7,35,20,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Chevron/@32....
4,Laurel Pacific Gas (Valero),"2499 Pacific Hwy, San Diego, CA 92101",USD,Regular,6.8,$6.80,gallon,2023-10-03T09:17:23.000Z,USD,Midgrade,...,2023-10-03T08:24:45.000Z,https://locations.valero.com/en-us/LocationDet...,(619) 338-4965,3.7,36,147,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Laurel+Pacif...

In [3]:
# Parse out zip code
gas_prices_data['zip code'] = gas_prices_data['address'].str.split().str[-1]
gas_prices_data.head()

,title,address,gasPrices/0/currency,gasPrices/0/gasType,gasPrices/0/price,gasPrices/0/priceTag,gasPrices/0/unit,gasPrices/0/updatedAt,gasPrices/1/currency,gasPrices/1/gasType,...,website,phone,totalScore,rank,reviewsCount,isAdvertisement,categoryName,searchString,url,zip code
0,Shell,"1011 A St, San Diego, CA 92101",USD,Regular,7.0,$7.00,gallon,2023-10-03T09:20:18.000Z,USD,Midgrade,...,https://find.shell.com/us/fuel/10008234-1011-a-st,(619) 232-2906,3.3,4,124,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Shell/@32.71...,92101
1,Shell,"2777 Health Center Dr, San Diego, CA 92123",USD,Regular,7.0,$7.00,gallon,2023-10-02T15:59:32.000Z,USD,Midgrade,...,https://find.shell.com/us/fuel/12476277-2777-h...,(859) 279-3673,3.5,3,40,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Shell/@32.79...,92123
2,Texas Street Valero,"4616 Texas St, San Diego, CA 92116",USD,Regular,6.4,$6.40,gallon,2023-10-03T05:53:19.000Z,USD,Midgrade,...,NaN,(619) 296-4913,4.1,37,235,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Texas+Street...,92116
3,Chevron,"7070 Clairemont Mesa Blvd, San Diego, CA 92117",USD,Regular,6.3,$6.30,gallon,2023-10-03T09:15:59.000Z,USD,Midgrade,...,http://www.chevronwithtechron.com/stations/sta...,(858) 922-4894,3.7,35,20,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Chevron/@32....,92117
4,Laurel Pacific Gas (Valero),"2499 Pacific Hwy, San Diego, CA 92101",USD,Regular,6.8,$6.80,gallon,2023-10-03T09:17:23.000Z,USD,Midgrade,...,https://locations.valero.com/en-us/LocationDet...,(619) 338-4965,3.7,36,147,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Laurel+Pacif...,92101

In [4]:
# Rename Columns
gas_prices_data_df = gas_prices_data.rename(columns={"title" : "business",
                                "gasPrices/0/currency" : "gas1 currency",
                                "gasPrices/0/gasType" : "gas1 type",
                                "gasPrices/0/price": "gas1 price",
                                "gasPrices/0/priceTag" : "gas1 pricetag",
                                "gasPrices/0/unit": "gas1 unit",
                                "gasPrices/0/updatedAt" : "gas1 updated",
                                "gasPrices/1/currency" : "gas2 currency",
                                "gasPrices/1/gasType": "gas2 type",
                                "gasPrices/1/price": "gas2 price",
                                "gasPrices/1/priceTag": "gas2 pricetag",
                                "gasPrices/1/unit": "gas2 unit",
                                "gasPrices/1/updatedAt" : "gas2 updated",
                                "gasPrices/2/currency" : "gas3 currency",
                                "gasPrices/2/gasType": "gas3 type",
                                "gasPrices/2/price": "gas3 price",
                                "gasPrices/2/priceTag": "gas3 pricetag",
                                "gasPrices/2/unit": "gas3 unit",
                                "gasPrices/2/updatedAt": "gas3 updated",
                                "gasPrices/3/currency": "gas4 currency",
                                "gasPrices/3/gasType": "gas4 type",
                                "gasPrices/3/price": "gas4 price",
                                "gasPrices/3/priceTag": "gas4 pricetag",
                                "gasPrices/3/unit" :"gas4 unit",
                                "gasPrices/3/updatedAt" : "gas4 updated"
    
})

In [5]:
gas_prices_data_df.head()

,business,address,gas1 currency,gas1 type,gas1 price,gas1 pricetag,gas1 unit,gas1 updated,gas2 currency,gas2 type,...,website,phone,totalScore,rank,reviewsCount,isAdvertisement,categoryName,searchString,url,zip code
0,Shell,"1011 A St, San Diego, CA 92101",USD,Regular,7.0,$7.00,gallon,2023-10-03T09:20:18.000Z,USD,Midgrade,...,https://find.shell.com/us/fuel/10008234-1011-a-st,(619) 232-2906,3.3,4,124,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Shell/@32.71...,92101
1,Shell,"2777 Health Center Dr, San Diego, CA 92123",USD,Regular,7.0,$7.00,gallon,2023-10-02T15:59:32.000Z,USD,Midgrade,...,https://find.shell.com/us/fuel/12476277-2777-h...,(859) 279-3673,3.5,3,40,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Shell/@32.79...,92123
2,Texas Street Valero,"4616 Texas St, San Diego, CA 92116",USD,Regular,6.4,$6.40,gallon,2023-10-03T05:53:19.000Z,USD,Midgrade,...,NaN,(619) 296-4913,4.1,37,235,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Texas+Street...,92116
3,Chevron,"7070 Clairemont Mesa Blvd, San Diego, CA 92117",USD,Regular,6.3,$6.30,gallon,2023-10-03T09:15:59.000Z,USD,Midgrade,...,http://www.chevronwithtechron.com/stations/sta...,(858) 922-4894,3.7,35,20,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Chevron/@32....,92117
4,Laurel Pacific Gas (Valero),"2499 Pacific Hwy, San Diego, CA 92101",USD,Regular,6.8,$6.80,gallon,2023-10-03T09:17:23.000Z,USD,Midgrade,...,https://locations.valero.com/en-us/LocationDet...,(619) 338-4965,3.7,36,147,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Laurel+Pacif...,92101

In [6]:
gas_prices_data_df.columns.tolist()

['business',
 'address',
 'gas1 currency',
 'gas1 type',
 'gas1 price',
 'gas1 pricetag',
 'gas1 unit',
 'gas1 updated',
 'gas2 currency',
 'gas2 type',
 'gas2 price',
 'gas2 pricetag',
 'gas2 unit',
 'gas2 updated',
 'gas3 currency',
 'gas3 type',
 'gas3 price',
 'gas3 pricetag',
 'gas3 unit',
 'gas3 updated',
 'gas4 currency',
 'gas4 type',
 'gas4 price',
 'gas4 pricetag',
 'gas4 unit',
 'gas4 updated',
 'website',
 'phone',
 'totalScore',
 'rank',
 'reviewsCount',
 'isAdvertisement',
 'categoryName',
 'searchString',
 'url',
 'zip code']

In [7]:
cleaned_gas_df = gas_prices_data_df[["business", "zip code", "address", "gas1 currency", "gas1 type", "gas1 price", "gas1 pricetag", "gas1 unit", "gas1 updated",
                                    "gas2 currency", "gas2 type", "gas2 price", "gas2 pricetag", "gas2 unit", "gas2 updated",
                                    "gas3 currency", "gas3 type", "gas3 price", "gas3 pricetag", "gas3 unit", "gas3 updated"]].copy()

In [8]:
cleaned_gas_df.head()

,business,zip code,address,gas1 currency,gas1 type,gas1 price,gas1 pricetag,gas1 unit,gas1 updated,gas2 currency,...,gas2 price,gas2 pricetag,gas2 unit,gas2 updated,gas3 currency,gas3 type,gas3 price,gas3 pricetag,gas3 unit,gas3 updated
0,Shell,92101,"1011 A St, San Diego, CA 92101",USD,Regular,7.0,$7.00,gallon,2023-10-03T09:20:18.000Z,USD,...,7.11,$7.11,gallon,2023-10-02T19:38:42.000Z,USD,Premium,7.2,$7.20,gallon,2023-10-02T13:26:42.000Z
1,Shell,92123,"2777 Health Center Dr, San Diego, CA 92123",USD,Regular,7.0,$7.00,gallon,2023-10-02T15:59:32.000Z,USD,...,7.20,$7.20,gallon,2023-10-02T19:28:22.000Z,USD,Premium,7.3,$7.30,gallon,2023-10-02T19:28:22.000Z
2,Texas Street Valero,92116,"4616 Texas St, San Diego, CA 92116",USD,Regular,6.4,$6.40,gallon,2023-10-03T05:53:19.000Z,USD,...,6.60,$6.60,gallon,2023-10-03T05:53:19.000Z,USD,Premium,6.8,$6.80,gallon,2023-10-03T05:53:19.000Z
3,Chevron,92117,"7070 Clairemont Mesa Blvd, San Diego, CA 92117",USD,Regular,6.3,$6.30,gallon,2023-10-03T09:15:59.000Z,USD,...,6.50,$6.50,gallon,2023-10-03T09:15:59.000Z,USD,Premium,6.6,$6.60,gallon,2023-10-03T09:15:59.000Z
4,Laurel Pacific Gas (Valero),92101,"2499 Pacific Hwy, San Diego, CA 92101",USD,Regular,6.8,$6.80,gallon,2023-10-03T09:17:23.000Z,USD,...,6.90,$6.90,gallon,2023-10-02T05:37:50.000Z,USD,Premium,7.0,$7.00,gallon,2023-10-02T10:00:45.000Z

In [9]:
cleaned_gas_df.count()

business         178
zip code         178
address          178
gas1 currency    160
gas1 type        160
gas1 price       160
gas1 pricetag    160
gas1 unit        160
gas1 updated     160
gas2 currency    159
gas2 type        159
gas2 price       159
gas2 pricetag    159
gas2 unit        159
gas2 updated     159
gas3 currency    159
gas3 type        159
gas3 price       159
gas3 pricetag    159
gas3 unit        159
gas3 updated     159
dtype: int64

In [10]:
extra_clean_gas = cleaned_gas_df.dropna()
extra_clean_gas.count()

business         159
zip code         159
address          159
gas1 currency    159
gas1 type        159
gas1 price       159
gas1 pricetag    159
gas1 unit        159
gas1 updated     159
gas2 currency    159
gas2 type        159
gas2 price       159
gas2 pricetag    159
gas2 unit        159
gas2 updated     159
gas3 currency    159
gas3 type        159
gas3 price       159
gas3 pricetag    159
gas3 unit        159
gas3 updated     159
dtype: int64

In [11]:
print(extra_clean_gas['gas1 currency'].unique())
print(extra_clean_gas['gas1 type'].unique())
print(extra_clean_gas['gas1 unit'].unique())
print(extra_clean_gas['gas2 currency'].unique())
print(extra_clean_gas['gas2 type'].unique())
print(extra_clean_gas['gas2 unit'].unique())
print(extra_clean_gas['gas3 currency'].unique())
print(extra_clean_gas['gas3 type'].unique())
print(extra_clean_gas['gas3 unit'].unique())

['USD']
['Regular']
['gallon']
['USD']
['Midgrade']
['gallon']
['USD']
['Premium']
['gallon']

In [12]:
# Read in CSV and clean data
SD_median_income = pd.read_csv("Resources/Household Income Median.csv")
SD_median_income = SD_median_income.rename(columns={'Zip':'zip code'})
SD_median_income.head()

   zip code  Household Income Median
0     92014                   155531
1     92025                    58273
2     92027                    65989
3     92037                   109194
4     92071                    87334

In [13]:
# Find unique number of zipcodes in income dataset
SD_median_income = SD_median_income.sort_values(by='zip code')
SD_median_income = SD_median_income.drop(34)
SD_median_income['zip code'].unique()

array([92014, 92025, 92027, 92037, 92071, 92101, 92102, 92103, 92104,
       92105, 92106, 92107, 92108, 92109, 92110, 92111, 92113, 92114,
       92115, 92116, 92117, 92119, 92120, 92121, 92122, 92123, 92124,
       92126, 92127, 92128, 92129, 92130, 92131, 92139, 92154, 92173],
      dtype=int64)

In [14]:
# Find unique number of zipcodes in gas dataset
extra_clean_gas = extra_clean_gas.sort_values(by='zip code')
extra_clean_gas['zip code'].unique()

array(['92014', '92025', '92027', '92037', '92071', '92101', '92102',
       '92103', '92104', '92105', '92106', '92107', '92108', '92109',
       '92110', '92111', '92113', '92114', '92115', '92116', '92117',
       '92119', '92120', '92121', '92122', '92123', '92124', '92126',
       '92127', '92128', '92129', '92130', '92131', '92139', '92154',
       '92173'], dtype=object)

In [15]:
# Calculate average gas prices per zip code
averaged_gas1_prices = extra_clean_gas.groupby(["zip code"])["gas1 price"].mean()
averaged_gas2_prices = extra_clean_gas.groupby(["zip code"])["gas2 price"].mean()
averaged_gas3_prices = extra_clean_gas.groupby(["zip code"])["gas3 price"].mean()

In [16]:
# Create df with avg gas prices per zip
gas_price_per_zip_avg = pd.DataFrame(
    {
        "Regular avg": averaged_gas1_prices,
        "Midgrade avg": averaged_gas2_prices,
        "Premium avg": averaged_gas3_prices,
    }
)
gas_price_per_zip_avg.head()
gas_price_per_zip_avg.reset_index(inplace=True)

In [17]:
# Load in csv with lat, long, population, density
zip_df = pd.read_csv("Resources/uszips.csv")
sd_zip_df_unclean = zip_df.loc[zip_df["county_names_all"] == "San Diego", :]
sd_zip_df_unclean = sd_zip_df_unclean.rename(columns={'zip':'zip code'})
# Create df of only info we want
sd_zip_df = sd_zip_df_unclean[['zip code', 'lat', 'lng', 'city', 'population', 'density']]
sd_zip_df = pd.DataFrame(sd_zip_df)

len(sd_zip_df)

112

In [18]:
sd_zip_df

       zip code       lat        lng         city  population  density
30911     91901  32.81467 -116.71929       Alpine     18367.0     91.1
30912     91902  32.67479 -117.00475       Bonita     17759.0    611.3
30913     91905  32.67773 -116.30734    Boulevard      1616.0      7.5
30914     91906  32.66241 -116.47255        Campo      4547.0     16.7
30915     91910  32.63653 -117.06301  Chula Vista     76291.0   2340.3
...         ...       ...        ...          ...         ...      ...
31020     92155  32.67148 -117.16714    San Diego       340.0    334.1
31021     92161  32.87420 -117.23159    San Diego         0.0      0.0
31022     92173  32.55552 -117.05114   San Ysidro     29634.0   3976.4
31023     92179  32.58409 -116.93349    San Diego      4061.0   6268.8
31024     92182  32.77498 -117.07424    San Diego         0.0      0.0

[112 rows x 6 columns]

In [19]:
# Making sure zip in all dfs are string types
sd_zip_df['zip code'] = sd_zip_df['zip code'].astype(str)
gas_price_per_zip_avg['zip code'] = gas_price_per_zip_avg['zip code'].astype(str)
SD_median_income['zip code'] = SD_median_income['zip code'].astype(str)

In [20]:
merg_zip_data = sd_zip_df.merge(gas_price_per_zip_avg, on=['zip code'], how='right')
merg_zip_data.head()

,zip code,lat,lng,city,population,density,Regular avg,Midgrade avg,Premium avg
0,92014,32.96797,-117.24879,Del Mar,12823.0,785.2,6.193333,6.393333,6.586667
1,92025,33.08492,-117.02967,Escondido,50831.0,877.2,5.966667,6.178889,6.327778
2,92027,33.13263,-116.98335,Escondido,56878.0,368.0,6.500000,6.700000,6.800000
3,92037,32.85257,-117.25104,La Jolla,37505.0,1202.1,6.330000,6.550000,6.680000
4,92071,32.85045,-116.99479,Santee,59826.0,1225.5,6.180000,6.402857,6.624286

In [21]:
sd_zip_df = sd_zip_df.set_index('zip code')
sd_zip_df.shape

(112, 5)

In [22]:
sd_zip_df = sd_zip_df.loc[['92014', '92025', '92027', '92037', '92071', '92101', '92102',
       '92103', '92104', '92105', '92106', '92107', '92108', '92109',
       '92110', '92111', '92113', '92114', '92115', '92116', '92117',
       '92119', '92120', '92121', '92122', '92123', '92124', '92126',
       '92127', '92128', '92129', '92130', '92131', '92139', '92154',
       '92173'],:]
print(sd_zip_df)
sd_zip_df.reset_index(inplace=True)

               lat        lng        city  population  density
zip code
92014     32.96797 -117.24879     Del Mar     12823.0    785.2
92025     33.08492 -117.02967   Escondido     50831.0    877.2
92027     33.13263 -116.98335   Escondido     56878.0    368.0
92037     32.85257 -117.25104    La Jolla     37505.0   1202.1
92071     32.85045 -116.99479      Santee     59826.0   1225.5
92101     32.71620 -117.18589   San Diego     43096.0   3090.7
92102     32.71595 -117.11749   San Diego     40083.0   3446.3
92103     32.74782 -117.16738   San Diego     33873.0   3549.3
92104     32.74191 -117.12781   San Diego     45773.0   4783.5
92105     32.73756 -117.09193   San Diego     73085.0   4902.8
92106     32.71334 -117.23617   San Diego     20889.0   1423.9
92107     32.74020 -117.24357   San Diego     29753.0   3798.5
92108     32.77423 -117.14097   San Diego     21995.0   1926.5
92109     32.78699 -117.23273   San Diego     45333.0   2300.3
92110     32.76533 -117.19965   San Diego     30318.0   2338.0
92111     32.80650 -117.16897   San Diego     49351.0   2247.4
92113     32.69591 -117.12012   San Diego     51461.0   4405.1
92114     32.70778 -117.05529   San Diego     67745.0   3155.9
92115     32.76154 -117.07187   San Diego     61450.0   3845.7
92116     32.76484 -117.12303   San Diego     31470.0   3595.1
92117     32.82493 -117.19972   San Diego     55195.0   2448.7
92119     32.80896 -117.03232   San Diego     24465.0   1438.9
92120     32.79526 -117.07317   San Diego     29172.0   1466.5
92121     32.89730 -117.20231   San Diego      4213.0    129.7
92122     32.85681 -117.21017   San Diego     45676.0   3279.1
92123     32.80958 -117.13419   San Diego     33035.0   1481.2
92124     32.82823 -117.08528   San Diego     31593.0   1246.8
92126     32.91200 -117.14344   San Diego     78097.0   2602.5
92127     33.01913 -117.12339   San Diego     50852.0    865.9
92128     32.99687 -117.07308   San Diego     50161.0   1654.5
92129     32.96354 -117.12622   San Diego     53742.0   1585.9
92130     32.94763 -117.20586   San Diego     57197.0   1189.6
92131     32.89604 -117.05737   San Diego     36070.0    360.4
92139     32.68006 -117.04889   San Diego     35364.0   3816.4
92154     32.57800 -116.96621   San Diego     85024.0    639.9
92173     32.55552 -117.05114  San Ysidro     29634.0   3976.4

In [23]:
merged_by_zip = merg_zip_data.merge(SD_median_income, on=['zip code'], how='right')
merged_by_zip.head()

,zip code,lat,lng,city,population,density,Regular avg,Midgrade avg,Premium avg,Household Income Median
0,92014,32.96797,-117.24879,Del Mar,12823.0,785.2,6.193333,6.393333,6.586667,155531
1,92025,33.08492,-117.02967,Escondido,50831.0,877.2,5.966667,6.178889,6.327778,58273
2,92027,33.13263,-116.98335,Escondido,56878.0,368.0,6.500000,6.700000,6.800000,65989
3,92037,32.85257,-117.25104,La Jolla,37505.0,1202.1,6.330000,6.550000,6.680000,109194
4,92071,32.85045,-116.99479,Santee,59826.0,1225.5,6.180000,6.402857,6.624286,87334

In [24]:
merged_by_zip.to_csv("Resources/Zip Code Data All.csv")